# Django
SECRET_KEY=change-this-to-a-long-random-string
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL
DB_NAME=food_delivery_db
DB_USER=food_delivery_user
DB_PASSWORD=change-this-password
DB_HOST=localhost
DB_PORT=5432
